body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Calibri;
}
/* done */
#header-bar {
    width: 100%;
    height: 5px;
    background-color: #242e30;
}
#columns {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: lightgray;
    border-bottom-style: solid;
}
#column-logo{
    width: 400px;
    align-items: flex-start;
}
#column-right{
    display: flex;
}
#big-logo {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
#option1 a{
    color: darkturquoise;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}
#option2 a{
    color: darkturquoise;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}
#option3 a{
    color: darkturquoise;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}
#main {
    align-items: center;
    width: 1200px;
}
/* done */
#footer {
    width: 100%;
    padding: 40px;
    color: white;
    margin-top: 40px;
    height: 200px;
    background-color: #242e30;
    background-image: url(zabek.jpg);
    background-repeat: repeat-x;
}
#mission p {
    text-align: center;
    font-size: 22px;
    color: darkturquoise;
}
#content h1 {
    font-size: 30px;
    font-weight: bold;
}
#content {
    display: flex;
    padding: 35px;
    border-bottom: lightgray;
    border-bottom-style: solid;
}
#content-right {
    padding-left: 40px;
    padding-right: 40px;
}
#content-left {
    padding-left: 40px;
    padding-right: 40px;
}
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#circles {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
#circle1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.55;
    background: rgb(84, 205, 241);
    font-size: 28;
}
#circle2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.55;
    background: rgb(84, 205, 241);
    margin-left: -35px;
    margin-right: -35px;
    font-size: 28;
}
#circle3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.55;
    background: rgb(84, 205, 241);
    font-size: 28;
}
