body {
    background-image: url(tlo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ddd;
    margin: 0;
    font-family: Calibri;
}
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    align-content: center;
    text-align: center;
    margin: 60px;
}
#title img {
    margin-left: auto;
    margin-right: auto;
}
#photos {
    background-color: #ccc;
    width: 450px;
    height: 450px;
}
.photoRow {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 0;
}
.photo {
    width: 100px;
    height: 100px;
    padding: 5px;
    padding-bottom: 0;
}
#bottom-section {
    margin: 20px;
}
#bottom-title {
    text-align: center;
    border-bottom: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#bottom-content {
    margin-top: 15px;
    font-size: 14;
}
#bottom-content p{
    font-size: 12px;
    text-align-last: justify;
}
#mail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}
#mail-icon {
    display: flex;
    flex-direction: row;
}
p{
    margin: 0px;
    font-size: 12px;
}
a {
    margin: 0px;
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
    border-bottom-style: dotted;
    border-bottom-color: #ccc;
    border-bottom-width: 2px;
    padding: 0px;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #ccc;
}
#footer p{
    text-align: center;
    color: #444;
    padding: 50px;
}